<% content_for :page_title do %>
  <%= Spree.t(:google_taxon_map) %><br>
  See: <a href="http://www.google.com/support/merchants/bin/answer.py?hl=en&answer=160081" target="_blank">Google Taxonomy Listings</a>
<% end %>

<table class="index">
  <colgroup>
    <col style="width: 45%" />
    <col style="width: 45%" />
    <col style="width: 10%" />
  </colgroup>
  <thead>
    <tr data-hook="tax_header">
      <th><%= Spree.t(:taxon) %></th>
      <th><%= Spree.t(:google_taxon) %></th>
      <th><%= Spree.t(:priority) %></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag admin_taxon_map_google_index_path, method: :post do %>
      <% @taxons.each do |taxon| %>
        <tr class="<%= cycle('odd', 'even')%>">
          <td class="align-left">
            <%= taxon.pretty_name %>
          </td>
          <td class="align-center">
            <%= text_field(:tax_id, taxon.id, value: taxon.taxon_map_google.try(:product_type), class: 'category') %>
          </td>
          <td class="align-center">
            <%= text_field(:priority, taxon.id, value: taxon.taxon_map_google.try(:priority), class: 'priority') %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3">
          <div class="form-buttons filter-actions actions" data-hook="buttons">
            <%= button Spree.t('actions.update'), 'icon-refresh' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
